/*the Home.css, Luis Eduardo Orjuela Rojas, 301474380, 28/09/2024*/
.banner
{
    height: 100vh;
    width: 100vw;
    place-items: center;
    text-align: center;
    background-image: url("../src/assets/Banner.jpg");
    background-size: cover;
}
