/*the menu.css, Luis Eduardo Orjuela Rojas, 301474380, 28/09/2024*//*the App.css, Luis Eduardo Orjuela Rojas, 301474380, 28/09/2024*/
.App-logo 
{
    max-height: 40px;
    width: auto;
    top: 1vh;
    left: 1vh;
}